/*** General CSS ***/
body {
    line-height: 1.9em;
}
body.home #sp-main-body {
    padding: 0;
    display: none;
}
.article-details.home {
    display: none;
}
/*** Header Area ***/
/* Header Top */
#sp-top-bar {
    position: relative;
    z-index: 999;
    font-size: 15px;
    padding: 12px 0 12px;
    background: linear-gradient(90deg, #c2113c 0%, #f4be3e 100%);
}

/* Header Menu */
#sp-header {
    top: 0px;
    padding: 0;
    height: inherit;
    z-index: 9999;
    position: relative;
}
body:not(.home) #sp-header:before {
    left: 0;
}
body:not(.home) #sp-header,
#sp-header.header-sticky {
    top: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item>a {
    font-weight: 400 !important;
    padding: 10px 0;
}
.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span {
    position: relative;
}
.sp-megamenu-parent>li.active>a {
    font-weight: 600;
}

/* Canvas Menu */
.offcanvas-menu .offcanvas-inner .menu-child > li a {
    padding: 12px 10px !important;
    border-bottom: 1px solid rgba(197, 153, 153, 0.21);
    display: inherit;
}
.offcanvas-menu .offcanvas-inner ul.menu>li>a, .offcanvas-menu .offcanvas-inner ul.menu>li>span {
    font-size: 15px;
    font-weight: 500;
}
.burger-icon>span {
    background-color: #222;
}
.offcanvas-menu > .align-items-center {
    background: #fff;
}
.offcanvas-active .burger-icon>span, #modal-menu-toggler.active .burger-icon>span {
    background-color: #222;
}

/*** Block Styles ***/
/* Button */
a.btn {
    border: none;
    padding: 18px 35px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff !important;
}
a.btn:hover {
    color: #fff !important;
  	background: #49c8d1;
}

/* Title */
.sp-mod-title .sp-module-title {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    border-bottom: 1px solid #111;
    position: relative;
}
.sp-mod-title .sp-module-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 50px;
    background: #222;
}
h4.mfp_default_title {
    font-size: 27px;
    line-height: 23px !important;
}

/* Background Images */
.sp-bg-module div > a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    right: 0;
    z-index: 1;
    background: linear-gradient(transparent 40%,#000000d9 100%);
}
.sp-bg-module div > a {
    position: relative;
}
.sp-bg-module .mfp_default_skin_default .mfp_default_item .mfp_default_title {
    line-height: 35px;
    position: absolute;
    bottom: 60px;
    padding: 0px 30px;
    z-index: 2;
}
.sp-bg-module span.mfp_date {
    position: absolute;
    bottom: 30px;
    padding: 0 30px;
    z-index: 2;
    color: #ffffffb0 !important;
}

/* Position1 */
#sp-content-top .sp-column {
    padding-top: 40px;
}
#sp-content-top .mfp_default_skin_default .mfp_default_item .mfp_default_title a {
    font-size: 30px !important;
}

/* Position2 */
#sp-content-top #sp-position2 .mfp_default_skin_default .mfp_default_item .mfp_default_title a {
    font-size: 22px !important;
}

/* Position3 */
#sp-position3 .sp-bg-module .mfp_default_skin_default .mfp_default_item a {
    color: #fff;
    font-weight: 500 !important;
}
#sp-position3 .sp-bg-module .mfp_default_skin_default .mfp_default_item span.mfp_date {
    font-size: 13px;
    color: #fff;
}
.sp-mod-enter span.mfp_cat a {
    background: #222;
    padding: 4px 8px;
    border-radius: 3px;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 5px;
}
#sp-position3 .sp-mod-enter .mfp_default_item .mfp_default_title a {
    font-size: 22px !important;
}

/* Position4 */
#sp-position4 .sp-module {
    margin-bottom: 30px;
}

/* Position5 */
#sp-position5 h4.mfp_default_title {
    font-size: 30px;
}
#sp-position5 h4.mfp_default_title, #sp-position5 span.mfp_date {
    text-align: center;
    width: 100%;
}

/* Position5 */
.sp-mod-img {
    margin-bottom: 30px;
}
#sp-position5 .sp-module.sp-bg-module {
    padding-bottom: 15px;
}

/* Position6 */
#sp-position6 .sp-module:last-child {
    margin-bottom: 40px;
}

/* Position8 */
#sp-position8 .sp-module  {
    padding-top: 30px;
    padding-bottom: 30px;
}
#sp-position8 .mfp_carousel_skin_default .mfp_carousel_item .mfp_carousel_title a {
    font-size: 22px !important;
}
#sp-position8 .mfp_carousel_skin_default .mfp_carousel_item .mfp_carousel_title {
    line-height: 30px !important;
}
#sp-position8 .mfp_carousel_skin_default .mfp_carousel_item img {
    border-radius: 10px;
}
#sp-position8 .mfp_block_title {
    display: none;
}
#sp-position8 div#tns1-ow button {
    padding: 0;
}

/* Category */
span.mfp_cat a {
    font-size: 10px;
    color: #666666 !important;
    letter-spacing: 1px;
}
span.mfp_cat a:hover {
    color: #222 !important;
}

/* Blog */
.mfp_default_item img {
    border-radius: 10px;
    box-shadow: 0 2px 6px -1px rgba(7,10,25,.2), 0 6px 12px -6px rgba(7,10,25,.2);
}
.mfp_default_item:hover img {
    opacity: 0.8;
}

/* Bottom */
#sp-bottom {
    box-shadow: 0px 0px 5px 0 #eee;
}
#sp-bottom {
    overflow: hidden;
    position: relative;
    z-index: 1;
    line-height: 30px;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
}
#sp-bottom p {
    line-height: 28px;
}
#sp-bottom .sp-module .sp-module-title {
    font-size: 15px;
    text-align: left;
    background: transparent;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 10px;
}
.shrewd_solution_icon ul, .shrewd_solution_icon ul li {
    display: inline-block!important;
    padding: 0!important;
    margin-bottom: 0px !important;
}
.shrewd_solution_icon ul li a {
    font-size: 18px;
    -webkit-transition: .5s;
    transition: .5s;
    margin-right: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #de4333;
    text-align: center;
    color: #fff !important;
}
#sp-bottom4 span,
.shrewd_solution_icon ul li a em {
    font-family: "Font Awesome 5 Brands";
}
#sp-bottom4 strong,
.shrewd_solution_icon ul li a em strong {
    display: none;
}
.shrewd_solution_icon ul li a:hover {
    color: #222 !important;
}
#sp-bottom1 ul.menu-link li a {
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
}
#sp-bottom1 ul.menu-link li {
    display: inline-block;
}
#sp-bottom .mfp_default_skin_default .mfp_default_item .mfp_default_title a {
    font-size: 16px !important;
}
#sp-bottom .mfp_default_skin_default .mfp_default_item .mfp_default_title {
    line-height: 25px;
    position: relative;
}
#sp-bottom3 h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.shrewd_solution_icon {
    margin-top: 30px;
}

/* Footer Copyright */
#sp-footer {
    text-align: center;
}
#sp-footer {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
    font-size: 15px;
}
#sp-footer .container-inner {
  	border-top: none;
}

/*** Responsive Layout ***/
/* Tablet Landscape Layout */
@media (min-width: 1400px) {
    .sppb-row-container {
        max-width: 1320px;
    }
}
@media (max-width: 1299px) {
  	#sp-position5 span.mfp_cat a {
    	top: 135px;
	}
  	.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span {
    	font-size: 14px !important;
	}
}
/* Mobile Standard Layout */
@media (max-width: 991px) {
    #sp-header, #sp-header .logo {
        height: 70px;
    }
    #sp-footer p {
        text-align: center;
    }
    body #sp-header {
        padding: 0;
        border-radius: 0;
        top: 0;
    }
    body, body p {
        font-size: 16px !important;
    }
  	#sp-position1 .mfp_default_item, #sp-position3 .sp-module:first-child .mfp_default_item:first-child,
  	#sp-position4 .sp-module:nth-child(3) .mfp_default_item, #sp-bottom .mfp_default_item {
    	flex-basis: 100% !important;
    	max-width: 100% !important;
	}
}

/* Mobile Small Resolution */
@media (max-width: 480px) {
    body #sp-header {
        top: 0;
    }
}

/* General color defination
Color value depend on preset color that picking on template settings > Presets
*/

:root {
  --background-color: currentColor;
  --background: currentColor;
  --text-color: currentColor;
}
body.home .article-introtext .readmore a, .sp-mod-title:after, a.btn,
.sp-mod-title .sp-module-title:after {
    background-color: var(--background-color);
}
.article-list .article .readmore a:hover, .article-list .article .readmore a:active, .article-list .article .article-header h2 a:hover, 
#sp-bottom ul li span {
    color: var(--text-color);
}
#sp-position1 .mfp_default_skin_default .mfp_default_item .mfp_default_title a:hover,
span.mfp_cat a, #sp-position3 .mfp_default_skin_default .mfp_default_item a:hover {
    color: var(--text-color) !important;
}